@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
    --projectContainer: 1170px;
    --color-primary: #00413D;
    --color-secondary: #E5745D;
    --font-jost: "Jost", sans-serif;
    --font-vollkorn: "Vollkorn", serif;
}

@layer components {
    .nav-item {
        color: var(--color-primary);
        cursor: pointer;
        font-family: "Jost", sans-serif;
        font-size: 18px;
        line-height: 26px;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s;
    }

    .nav-item:hover {
        color: var(--color-secondary);
    }


    .after-clip-path::after {
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }


    .customBtn {
        font-family: "Jost", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 12px;
        color: white;
        background: var(--color-secondary);
        padding: 26px 44px;
        border: none;
        position: relative;
    }

    .customBtn::after {
        content: "";
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        position: absolute;
        top: 50%;
        left: 50%;
        border: 2px solid white;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}